<%- include('./partials/head') %>

  <link rel="stylesheet" href="/styles_index.css">
  <details>
    <summary>Zoeken</summary>
    <form action="/search">
      <input type="text" name="search" placeholder="Zoeken...">
      <input type="submit" value="Zoek"></input>
    </form>
  </details>


  <div class="button_container">
    <a href="/squad/3" class="bubble"></a>
    <a href="/squad/4" class="bubble2"></a>
    <a href="/squad/5" class="bubble3">F</a>
  </div>