<%- include('./partials/head') %>

<ul>
  <% squads.forEach(squad => { %>
      <li>
      <a href="items/person/?filter{%22squad_id%22:<%= squad.id%>">
          <h2><%= squad.name %> </h2>
      </a>
      </li>
  <% }) %>
  </ul>

<%- include('./partials/foot') %>