* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'futura-book', sans-serif;
    background-color: #333333;
    color: #ffffff;
    padding: 4rem
}

a {
    color: #ffffff;
}

img {
    max-width: 100px;
    height: auto;
}

details {
    position: fixed;
    top: 1rem;
    left: 1rem;
    background-color: #ffffff;
    color: #333333;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    width: 10rem;
}
details > summary {
    cursor: pointer;
}

details a {
    color: #333333;
    display: flex;
    flex-direction: row;
}

.card-list {
    list-style-type: none;
    line-height: 2;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.card-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li { 
    width: 40vmin;
    height: 40vmin;
    background: hsl(212, 100%, 51%);
    border: (50vmin * .09) solid hsl(212, 100%, 81%);
    overflow: visible;
    border-radius: 48% 40% 62% 47% / 61% 49% 64% 43%;
    z-index: 1;
    scale: 1;
    margin: 3em;
    align-items: center;
}

li:before {
    content: '';
    position: absolute;
    top: 20vmin * .1;
    left: 20vmin * .1;
    margin: 2em;
    width: calc(100% - (40vmin * .3));
    height: calc(100% - (40vmin * .3));
    background: hsl(212, 100%, 51%);
    border: (40vmin * .065) solid hsl(212, 100%, 61%);
    border-radius: 41% 40% 50% 55% / 49% 52% 51% 43%;
    z-index: -2;
}



@media (prefers-color-scheme-light) {
    body {
        background-color: #ffffff;
        color: #333333;
    }
 
    .bubble {
        background: hsl(155, 68%, 13%);
    }

}

@media (prefers-color-scheme-dark) {
    .bubble {
        background: hsl(0, 100%, 43%);
    }

}

  
